*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    height: 100%;
    width: 100%;
}

.wrapper{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.random{
    height: 40%;
    width: 40%;
    background-color: palegreen; 
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}



input{
    color: black;
    font-weight: 700;
    padding: 0.5vw 5vw;
    
 
}


button{
    margin: 1vw;
    padding: 0.5vw 6.1vw;
    background-color: darkgreen;
    color: white;
    font-weight: 700;
}


